/* Reset some default styles for a cleaner look */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar when sidebar is open */
}

/* Define styles for the menu button */
.menu-button {
    position: fixed;
    top: 8px;
    right: 10px;
    cursor: pointer;
    z-index: 999;
}

.logo {
    position: absolute;
    top: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    z-index: 1; /* Ensure it's above other elements */
    height: 38px;
    width: auto;
}


/* Styling search area */
#topsearchbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 60px; /* Change to 260 on menu button click */
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 10px;
}

button[type="submit-button"] {
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.menu-bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Define styles for the sidebar */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.3s;
}

.sidebar h2 {
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
}

/* Define styles for the content area */
.content {
    margin-right: 0;
    padding: 20px;
    transition: margin-right 0.3s;
}

/* Style the header */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the main content sections */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Setting up stock circles */
#stock-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
}

.stock-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db;
    /* color: #fff; */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 18px;
}